*{
  box-sizing: border-box;
  font-size: 140%;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.timer-container {
  align-items: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.app {
  align-items: center;
  background-color: #282c34;
  display: flex;
  gap: 10px;
  justify-content: center;
  min-height: 100vh;
}

.flip-card {
  border-radius: .05em;
  box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-top, .card-bottom,
.card-top-flip,
.card-bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.card-top,
.card-top-flip {
  background-color: #e2e2e2;
  border-bottom: 1px solid black;
  border-top-left-radius: .05em;
  border-top-right-radius: .05em;
}

.card-bottom,
.card-bottom-flip {
  align-items: flex-end;  
  background-color: white;
  border-bottom-left-radius: .05em;
  border-bottom-right-radius: .05em;
  display: flex;
}

.card-top-flip {
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
}

.flip-card .flip-top {
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.card-bottom-flip {
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: absolute;
  width: 100%;
}

.flip-card .flip-bottom {
  animation: flip-bottom 250ms ease-out 250ms;  
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

/* .App-header {
  background-color: #282c34;
 } */
